# Review of [NTUTrainRL1](https://github.com/yaojenkuo/NTUTrainRL1)
* [Data Types](#Data-Types)
* [NA & NULL](#NA-&-NULL)
* [Data frame](#Data-frame)
* [Join](#Join)
* [SQL in R](#SQL-in-R)
* [reshape2](#reshape2)
* [Programming in R](#Programming-in-R)
* [apply()][]
* [Read csv](#Read-csv)
* [奇摩股市範例](#奇摩股市範例)
* [7-Eleven門市資訊範例](#7-Eleven門市資訊範例)
[apply()]:#apply()

# Data Types
* vector
* factor
* matrix
* data frame
* list

In [1]:
numvec <- c(1,2,3)
charvec <- c('a','b','c')
logicvec <- c(TRUE,FALSE,TRUE)
mixvec <- c(1,'2',TRUE)
class(numvec)
class(charvec)
class(logicvec)
class(mixvec)

[1] "numeric"

[1] "character"

[1] "logical"

[1] "character"

In [2]:
numvec[1]
numvec[c(1,3)]
numvec[2:3]
numvec[-1] # all element except first one

lennumvec <- length(numvec)
lennumvec
numvec[1:lennumvec]

[1] 1

[1] 1 3

[1] 2 3

[1] 2 3

[1] 3

[1] 1 2 3

In [3]:
seq(from = 7, to = 11, by = 2)
seq(from = 10, to = 100, length=10)
rep(1,time=3)

[1]  7  9 11

 [1]  10  20  30  40  50  60  70  80  90 100

[1] 1 1 1

In [4]:
mtcars
str(mtcars)
colname <- names(mtcars)
colname
colname[1]
lencol <- length(colname)
for (i in 1:lencol){
    print(colname[i])
}
print('')
library(magrittr)
iriscollen <- iris %>% names %>% length
for (i in 1:iriscollen){
    print(names(iris)[i])
}

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

[1] "mpg"

[1] "mpg"
[1] "cyl"
[1] "disp"
[1] "hp"
[1] "drat"
[1] "wt"
[1] "qsec"
[1] "vs"
[1] "am"
[1] "gear"
[1] "carb"
[1] ""
[1] "Sepal.Length"
[1] "Sepal.Width"
[1] "Petal.Length"
[1] "Petal.Width"
[1] "Species"

In [5]:
gender <- c("Female","Male","Male","Female","Male","Female")
gender
str(gender)
class(gender)
summary(gender)

facgender <- factor(gender)
facgender
str(facgender)
class(facgender)
summary(facgender)
facgender[1]
facgender[2]
facgender[1] > facgender[2] # No discrimination in R

[1] "Female" "Male"   "Male"   "Female" "Male"   "Female"

 chr [1:6] "Female" "Male" "Male" "Female" "Male" "Female"

[1] "character"

   Length     Class      Mode
        6 character character

[1] Female Male   Male   Female Male   Female
Levels: Female Male

 Factor w/ 2 levels "Female","Male": 1 2 2 1 2 1

[1] "factor"

Female   Male
     3      3

[1] Female
Levels: Female Male

[1] Male
Levels: Female Male

Warning message:
In Ops.factor(facgender[1], facgender[2]): '>' not meaningful for factors

[1] NA

In [6]:
age <- c("Child","Teen","Adult","Teen","Adult")
agefac <- factor(age, ordered = TRUE, levels = c("Child","Teen","Adult"))
agefac
str(agefac)
class(agefac)
summary(agefac)

[1] Child Teen  Adult Teen  Adult
Levels: Child < Teen < Adult

 Ord.factor w/ 3 levels "Child"<"Teen"<..: 1 2 3 2 3

[1] "ordered" "factor"

Child  Teen Adult
    1     2     2

In [7]:
vec <- c(1:24)
mat1 <- matrix(vec,nrow = 3, ncol = 8, byrow = TRUE)
mat2 <- matrix(vec,nrow = 3, ncol = 8)
mat1
mat2
mat1[1]
mat1[1,]
mat1[,2]
mat1[3,7]

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]    1    2    3    4    5    6    7    8
[2,]    9   10   11   12   13   14   15   16
[3,]   17   18   19   20   21   22   23   24

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]    1    4    7   10   13   16   19   22
[2,]    2    5    8   11   14   17   20   23
[3,]    3    6    9   12   15   18   21   24

[1] 1

[1] 1 2 3 4 5 6 7 8

[1]  2 10 18

[1] 23

In [8]:
studentID <- c("s01","s02","s03","s04")
age <- c(17,20,18,23)
course <- c("Deutsch","English","English","Deutsch")
status <- c("Normal","Poor","Good","Normal") %>% factor(., ordered = TRUE, levels = c("Poor","Normal","Good"))

studentdata <- data.frame(studentID,age,course,status)
studentdata
str(studentdata)
studentdata[,2:3]
studentdata[,"course"]
studentdata[c("age","status")]
studentdata$studentID[3]
table(studentdata$course,studentdata$status)
summary(studentdata$age)

# convinient way
#1
attach(studentdata)
summary(age)
detach(studentdata)
#2
with(studentdata,{summary(age)})

  studentID age  course status
1       s01  17 Deutsch Normal
2       s02  20 English   Poor
3       s03  18 English   Good
4       s04  23 Deutsch Normal

'data.frame':	4 obs. of  4 variables:
 $ studentID: Factor w/ 4 levels "s01","s02","s03",..: 1 2 3 4
 $ age      : num  17 20 18 23
 $ course   : Factor w/ 2 levels "Deutsch","English": 1 2 2 1
 $ status   : Ord.factor w/ 3 levels "Poor"<"Normal"<..: 2 1 3 2

  age  course
1  17 Deutsch
2  20 English
3  18 English
4  23 Deutsch

[1] Deutsch English English Deutsch
Levels: Deutsch English

  age status
1  17 Normal
2  20   Poor
3  18   Good
4  23 Normal

[1] s03
Levels: s01 s02 s03 s04

          Poor Normal Good
  Deutsch    0      2    0
  English    1      0    1

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   17.75   19.00   19.50   20.75   23.00

The following objects are masked _by_ .GlobalEnv:

    age, course, status, studentID

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   17.75   19.00   19.50   20.75   23.00

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   17.75   19.00   19.50   20.75   23.00

In [9]:
length(mtcars)
dim(mtcars)
str(mtcars)
class(mtcars)
head(mtcars)
tail(mtcars,n = 2)
names(mtcars)[8]

[1] 11

[1] 32 11

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

[1] "data.frame"

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

               mpg cyl disp  hp drat   wt qsec vs am gear carb
Maserati Bora 15.0   8  301 335 3.54 3.57 14.6  0  1    5    8
Volvo 142E    21.4   4  121 109 4.11 2.78 18.6  1  1    4    2

[1] "vs"

In [10]:
thisvec <- c(2,3,5,7,9)
thismat <- matrix(1:6, nrow = 3)
thisdf <- data.frame(I=1:3,II=c("one","two","three"))
thislist <- list(thisvec,thismat,thisdf)
thislist
thislist <- list(vec=thisvec,mat=thismat,df=thisdf)
thislist
thislist[2]
thislist[[2]]
thislist["df"]
thislist[["df"]]
thislist[[3]][2,1]

[[1]]
[1] 2 3 5 7 9

[[2]]
     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

[[3]]
  I    II
1 1   one
2 2   two
3 3 three

$vec
[1] 2 3 5 7 9

$mat
     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

$df
  I    II
1 1   one
2 2   two
3 3 three

$mat
     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

$df
  I    II
1 1   one
2 2   two
3 3 three

  I    II
1 1   one
2 2   two
3 3 three

[1] 2

# NA & NULL

In [11]:
navec <- c(80,76,95,NA,100)
nullvec <- c(60,NULL,25,39,90)
mean(navec)
mean(navec, na.rm = TRUE)
mean(nullvec)

[1] NA

[1] 87.75

[1] 53.5

# Data frame

In [12]:
name <- c("Monkey D. Luffy", "Roronoa Zoro", "Nami", "Sanji")
occupation <- c("Captain", "Swordsman", "Navigator", "Chef")
bounty <- as.numeric(c(500000000, 320000000, 66000000, NA))
age <- c(19, 21, 20, 21)
birthday <- c("5/5/1996", "11/11/1994", "7/3/1995", "3/2/1994")
strength <- c(99, 90, 15, 80)
intelligence <- c(20, 30, 90, 40)
strawHatPirate <- data.frame(name, occupation, bounty, age, birthday, strength, intelligence)
str(strawHatPirate$occupation)
strawHatPirate <- data.frame(name, occupation, bounty, age, birthday, strength, intelligence, stringsAsFactors=FALSE)
str(strawHatPirate$occupation)
strawHatPirate

 Factor w/ 4 levels "Captain","Chef",..: 1 4 3 2
 chr [1:4] "Captain" "Swordsman" "Navigator" "Chef"

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4           Sanji       Chef      NA  21   3/2/1994       80           40

In [13]:
# add column
strawHatPirate <- transform(strawHatPirate,
                           ratingsum=strength+intelligence,
                           ratingavg=(strength+intelligence)/2)
strawHatPirate

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4           Sanji       Chef      NA  21   3/2/1994       80           40
  ratingsum ratingavg
1       119      59.5
2       120      60.0
3       105      52.5
4       120      60.0

In [14]:
strawHatPirate <- within(strawHatPirate,{
    bountylevel <- NA
    bountylevel[bounty<1e8] <- "L"
    bountylevel[bounty>=1e8 & bounty<5e8] <- "M"
    bountylevel[bounty>=5e8] <- "H"
})
strawHatPirate

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4           Sanji       Chef      NA  21   3/2/1994       80           40
  ratingsum ratingavg bountylevel
1       119      59.5           H
2       120      60.0           M
3       105      52.5           L
4       120      60.0        <NA>

In [15]:
# rename
names(strawHatPirate)
names(strawHatPirate)[7] <- "IQ"
strawHatPirate
names(strawHatPirate)[c(7,10)] <- c("intelligence","level")
strawHatPirate

 [1] "name"         "occupation"   "bounty"       "age"          "birthday"
 [6] "strength"     "intelligence" "ratingsum"    "ratingavg"    "bountylevel"

             name occupation  bounty age   birthday strength IQ ratingsum
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99 20       119
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90 30       120
3            Nami  Navigator 6.6e+07  20   7/3/1995       15 90       105
4           Sanji       Chef      NA  21   3/2/1994       80 40       120
  ratingavg bountylevel
1      59.5           H
2      60.0           M
3      52.5           L
4      60.0        <NA>

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4           Sanji       Chef      NA  21   3/2/1994       80           40
  ratingsum ratingavg level
1       119      59.5     H
2       120      60.0     M
3       105      52.5     L
4       120      60.0  <NA>

In [16]:
# rm NA
is.na(strawHatPirate$bounty)
sum(strawHatPirate$bounty)
sum(strawHatPirate$bounty, na.rm = TRUE)

[1] FALSE FALSE FALSE  TRUE

[1] NA

[1] 8.86e+08

In [17]:
str(strawHatPirate$birthday)
strawHatPirate$birthdayasdate <- as.Date(strawHatPirate$birthday, "%m/%d/%Y")
str(strawHatPirate$birthdayasdate)
max(strawHatPirate$birthdayasdate)
min(strawHatPirate$birthdayasdate)

is.numeric(age)
agefac <- as.factor(age)
is.numeric(agefac)
is.factor(agefac)

 chr [1:4] "5/5/1996" "11/11/1994" "7/3/1995" "3/2/1994"
 Date[1:4], format: "1996-05-05" "1994-11-11" "1995-07-03" "1994-03-02"

[1] "1996-05-05"

[1] "1994-03-02"

[1] TRUE

[1] FALSE

[1] TRUE

In [18]:
order(strawHatPirate$age)
strawHatPirate[order(strawHatPirate$age),]
# - for descending (default is ascending)
strawHatPirate[order(-strawHatPirate$age,strawHatPirate$intelligence),]

[1] 1 3 2 4

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
4           Sanji       Chef      NA  21   3/2/1994       80           40
  ratingsum ratingavg level birthdayasdate
1       119      59.5     H     1996-05-05
3       105      52.5     L     1995-07-03
2       120      60.0     M     1994-11-11
4       120      60.0  <NA>     1994-03-02

             name occupation  bounty age   birthday strength intelligence
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
4           Sanji       Chef      NA  21   3/2/1994       80           40
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
  ratingsum ratingavg level birthdayasdate
2       120      60.0     M     1994-11-11
4       120      60.0  <NA>     1994-03-02
3       105      52.5     L     1995-07-03
1       119      59.5     H     1996-05-05

In [19]:
# binding column or row
strawHatPirate <- strawHatPirate[1:7]
favoritefood <- c("Meat","Sea King Meat","Orange","Pasta")
strawHatPirate2 <- cbind(strawHatPirate,favoritefood)
strawHatPirate2
chopper <- c("Tony Tony Chopper","Doctor",50,17,"12/24/1998",50,80)
strawHatPirate2 <- rbind(strawHatPirate,chopper)
strawHatPirate2

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4           Sanji       Chef      NA  21   3/2/1994       80           40
   favoritefood
1          Meat
2 Sea King Meat
3        Orange
4         Pasta

               name occupation  bounty age   birthday strength intelligence
1   Monkey D. Luffy    Captain   5e+08  19   5/5/1996       99           20
2      Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3              Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4             Sanji       Chef    <NA>  21   3/2/1994       80           40
5 Tony Tony Chopper     Doctor      50  17 12/24/1998       50           80

In [20]:
# Keep variables
strawHatPirate3 <- strawHatPirate2[,c(1:3)]
strawHatPirate3
strawHatPirate3 <- strawHatPirate2[,c("name","bounty")]
strawHatPirate3
# Drop variables
strawHatPirate4 <- strawHatPirate2[,c(-1:-3)]
strawHatPirate4
del <- names(strawHatPirate2) %in% c("name","bounty")
del
strawHatPirate4 <- strawHatPirate2[,!del]
strawHatPirate4
# Select rows
strawHatPirate5 <- strawHatPirate2[1:3, ]
strawHatPirate5
strawHatPirate5 <- strawHatPirate2[strawHatPirate2$occupation=='Navigator',]
strawHatPirate5
strawHatPirate5 <- strawHatPirate2[strawHatPirate2$age>20 & strawHatPirate2$strength>50,]
strawHatPirate5

               name occupation  bounty
1   Monkey D. Luffy    Captain   5e+08
2      Roronoa Zoro  Swordsman 3.2e+08
3              Nami  Navigator 6.6e+07
4             Sanji       Chef    <NA>
5 Tony Tony Chopper     Doctor      50

               name  bounty
1   Monkey D. Luffy   5e+08
2      Roronoa Zoro 3.2e+08
3              Nami 6.6e+07
4             Sanji    <NA>
5 Tony Tony Chopper      50

  age   birthday strength intelligence
1  19   5/5/1996       99           20
2  21 11/11/1994       90           30
3  20   7/3/1995       15           90
4  21   3/2/1994       80           40
5  17 12/24/1998       50           80

[1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE

  occupation age   birthday strength intelligence
1    Captain  19   5/5/1996       99           20
2  Swordsman  21 11/11/1994       90           30
3  Navigator  20   7/3/1995       15           90
4       Chef  21   3/2/1994       80           40
5     Doctor  17 12/24/1998       50           80

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain   5e+08  19   5/5/1996       99           20
2    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
3            Nami  Navigator 6.6e+07  20   7/3/1995       15           90

  name occupation  bounty age birthday strength intelligence
3 Nami  Navigator 6.6e+07  20 7/3/1995       15           90

          name occupation  bounty age   birthday strength intelligence
2 Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
4        Sanji       Chef    <NA>  21   3/2/1994       80           40

# Join

In [21]:
name2 <- c("Monkey D. Luffy", "Tony Tony Chopper", "Nico Robin", "Brook")
devilFruit <- c("Rubber", "Human", "Flower", "Underworld")
devilFruitList <- data.frame(name2, devilFruit, stringsAsFactors=FALSE)
# Inner join (default)
devilFruitStrawHatPirate <- merge(strawHatPirate, devilFruitList, by.x="name", by.y="name2")
devilFruitStrawHatPirate
# Left join
devilFruitStrawHatPirate <- merge(strawHatPirate, devilFruitList, by.x="name", by.y="name2",all.x = TRUE)
devilFruitStrawHatPirate
# Right join
devilFruitStrawHatPirate <- merge(strawHatPirate, devilFruitList, by.x="name", by.y="name2",all.y = TRUE)
devilFruitStrawHatPirate
# Full join
devilFruitStrawHatPirate <- merge(strawHatPirate, devilFruitList, by.x="name", by.y="name2",all.x = TRUE,all.y = TRUE)
devilFruitStrawHatPirate

             name occupation bounty age birthday strength intelligence
1 Monkey D. Luffy    Captain  5e+08  19 5/5/1996       99           20
  devilFruit
1     Rubber

             name occupation  bounty age   birthday strength intelligence
1 Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
2            Nami  Navigator 6.6e+07  20   7/3/1995       15           90
3    Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
4           Sanji       Chef      NA  21   3/2/1994       80           40
  devilFruit
1     Rubber
2       <NA>
3       <NA>
4       <NA>

               name occupation bounty age birthday strength intelligence
1             Brook       <NA>     NA  NA     <NA>       NA           NA
2   Monkey D. Luffy    Captain  5e+08  19 5/5/1996       99           20
3        Nico Robin       <NA>     NA  NA     <NA>       NA           NA
4 Tony Tony Chopper       <NA>     NA  NA     <NA>       NA           NA
  devilFruit
1 Underworld
2     Rubber
3     Flower
4      Human

               name occupation  bounty age   birthday strength intelligence
1             Brook       <NA>      NA  NA       <NA>       NA           NA
2   Monkey D. Luffy    Captain 5.0e+08  19   5/5/1996       99           20
3              Nami  Navigator 6.6e+07  20   7/3/1995       15           90
4        Nico Robin       <NA>      NA  NA       <NA>       NA           NA
5      Roronoa Zoro  Swordsman 3.2e+08  21 11/11/1994       90           30
6             Sanji       Chef      NA  21   3/2/1994       80           40
7 Tony Tony Chopper       <NA>      NA  NA       <NA>       NA           NA
  devilFruit
1 Underworld
2     Rubber
3       <NA>
4     Flower
5       <NA>
6       <NA>
7      Human

# SQL in R

In [22]:
library(sqldf)
sqldf("select name, occupation, bounty, age from strawHatPirate where age>19 order by bounty asc")
sqldf("select strawHatPirate.name, devilFruitList.devilFruit from strawHatPirate inner join devilFruitList on strawHatPirate.name=devilFruitList.name2")
sqldf("select strawHatPirate.name, devilFruitList.devilFruit from strawHatPirate left join devilFruitList on strawHatPirate.name=devilFruitList.name2")

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite
Loading required package: DBI
Loading required package: tcltk

          name occupation  bounty age
1        Sanji       Chef      NA  21
2         Nami  Navigator 6.6e+07  20
3 Roronoa Zoro  Swordsman 3.2e+08  21

             name devilFruit
1 Monkey D. Luffy     Rubber

             name devilFruit
1 Monkey D. Luffy     Rubber
2    Roronoa Zoro       <NA>
3            Nami       <NA>
4           Sanji       <NA>

# reshape2
* melt
* dcast

In [23]:
library(reshape2)
strawHatPirate8 <- melt(strawHatPirate, id=c("name"), measure=c("strength","intelligence"))
strawHatPirate8

strawHatPirate9 <- dcast(strawHatPirate8, name~variable)
strawHatPirate9

             name     variable value
1 Monkey D. Luffy     strength    99
2    Roronoa Zoro     strength    90
3            Nami     strength    15
4           Sanji     strength    80
5 Monkey D. Luffy intelligence    20
6    Roronoa Zoro intelligence    30
7            Nami intelligence    90
8           Sanji intelligence    40

             name strength intelligence
1 Monkey D. Luffy       99           20
2            Nami       15           90
3    Roronoa Zoro       90           30
4           Sanji       80           40

# Programming in R

In [24]:
# function
library(magrittr)
maxfun <- function(x){
    ans <- sort(x,decreasing = TRUE)[1]
    return(ans)
}
c(1,3,2) %>% maxfun()

trangle <- function(bottom,height=1){
    area <- bottom*height/2
    return(area)
}
trangle(3,4)
2 %>% trangle(.,3)
6 %>% trangle(height = 2,.)

[1] 3

[1] 6

[1] 3

[1] 6

In [25]:
# if-else
# for loop
# while loop
countoddprime <- function(x){
    n <- round(x)
    ans <- 0
    while(TRUE){
        for (i in 1:n){
            if (i==1){
                print("start from 1")
            } else if (i==2){
                print("skip 2")
                next
            } else {
                count <- 0
                for (j in 2:i){
                    if (i%%j==0){
                        count <- count+1
                    }
                }
                if (count==1){
                    print(c("prime number:",i))
                    ans <- ans+1
                }
            }
        }
        if (i==n){
            return(ans)
            break
        }
    }
}
100 %>% countoddprime()

[1] "start from 1"
[1] "skip 2"
[1] "prime number:" "3"
[1] "prime number:" "5"
[1] "prime number:" "7"
[1] "prime number:" "11"
[1] "prime number:" "13"
[1] "prime number:" "17"
[1] "prime number:" "19"
[1] "prime number:" "23"
[1] "prime number:" "29"
[1] "prime number:" "31"
[1] "prime number:" "37"
[1] "prime number:" "41"
[1] "prime number:" "43"
[1] "prime number:" "47"
[1] "prime number:" "53"
[1] "prime number:" "59"
[1] "prime number:" "61"
[1] "prime number:" "67"
[1] "prime number:" "71"
[1] "prime number:" "73"
[1] "prime number:" "79"
[1] "prime number:" "83"
[1] "prime number:" "89"
[1] "prime number:" "97"

[1] 24

# apply()
* lapply -> list
* sapply -> vector
* vapply (FUN.VALUE)

In [26]:
hsinchu <- list(population=434674,
               districts=c("East","North","Xiangshan"),
               capital=TRUE)
for (i in hsinchu){
    print(class(i))
}
# lapply
lapply(hsinchu,FUN = class)
lapply(hsinchu,FUN = class) %>% unlist()
print(hsinchu$districts)
hsinchu$districts %>% lapply(.,FUN = nchar)
# sapply
sapply(hsinchu,FUN = class)
# vapply
#vapply(hsinchu,FUN = class)
vapply(hsinchu,FUN = class,FUN.VALUE = character(1))

[1] "numeric"
[1] "character"
[1] "logical"

$population
[1] "numeric"

$districts
[1] "character"

$capital
[1] "logical"

 population   districts     capital
  "numeric" "character"   "logical"

[1] "East"      "North"     "Xiangshan"

[[1]]
[1] 4

[[2]]
[1] 5

[[3]]
[1] 9

 population   districts     capital
  "numeric" "character"   "logical"

 population   districts     capital
  "numeric" "character"   "logical"

# Read csv

In [27]:
accidentList <- read.csv("../GitHub/NTUTrainRL1/data/funCoastAccident.csv", header=TRUE, sep=",")
head(accidentList)
summary(accidentList)
str(accidentList)

     編號 縣市別 收治單位 性別   國籍 年齡 醫療檢傷 救護檢傷
1 H326339 台北市 聯醫仁愛   男 本國籍   NA 檢傷三級     中傷
2 H326349 台北市 聯醫仁愛   男 本國籍   26 檢傷三級     中傷
3 H326356 台北市 聯醫仁愛   男 本國籍   NA 檢傷三級     輕傷
4 H326368 台北市 聯醫仁愛   男 本國籍   NA 檢傷三級     輕傷
5 H326376 台北市 聯醫仁愛   女 本國籍   18 檢傷二級     重傷
6 H326390 台北市 聯醫仁愛   男 本國籍   25 檢傷二級     中傷

      編號        縣市別        收治單位   性別           國籍
 H326005:  1   台中市:  3   淡水馬偕: 56   女:257   大陸地區:  4
 H326006:  1   台北市:257   內湖三總: 48   男:258   不詳    :  1
 H326007:  1   桃園市: 61   林口長庚: 48            本國籍  :505
 H326008:  1   高雄市:  1   臺北榮總: 43            其他國家:  5
 H326009:  1   基隆市:  1   新光醫院: 31
 H326010:  1   新北市:187   衛部台北: 30
 (Other):509   新竹市:  5   (Other) :259
      年齡            醫療檢傷   救護檢傷
 Min.   : 14.00           : 60       :116
 1st Qu.: 19.00   檢傷一級:159   中傷:129
 Median : 21.00   檢傷二級:191   重傷:194
 Mean   : 22.38   檢傷三級: 92   輕傷: 76
 3rd Qu.: 24.00   檢傷四級: 13
 Max.   :101.00
 NA's   :121

'data.frame':	515 obs. of  8 variables:
 $ 編號    : Factor w/ 515 levels "H326005","H326006",..: 259 266 272 282 286 296 300 322 251 256 ...
 $ 縣市別  : Factor w/ 7 levels "台中市","台北市",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ 收治單位: Factor w/ 39 levels "三重市醫","中山醫院",..: 35 35 35 35 35 35 35 34 34 34 ...
 $ 性別    : Factor w/ 2 levels "女","男": 2 2 2 2 1 2 1 2 2 1 ...
 $ 國籍    : Factor w/ 4 levels "大陸地區","不詳",..: 3 3 3 3 3 3 4 3 3 3 ...
 $ 年齡    : int  NA 26 NA NA 18 25 NA 22 30 24 ...
 $ 醫療檢傷: Factor w/ 5 levels "","檢傷一級",..: 4 4 4 4 3 3 3 4 3 3 ...
 $ 救護檢傷: Factor w/ 4 levels "","中傷","重傷",..: 2 2 4 4 3 2 2 4 3 3 ...

In [28]:
# set attribute of header
# row.names: assign row names
accidentList <- read.csv("../GitHub/NTUTrainRL1/data/funCoastAccident.csv", header=TRUE, sep=",", row.names="編號", colClasses=c("character", "character", "character", "character", "character", "integer", "factor", "factor"))
colnames(accidentList) <- c("county", "hospital", "gender", "nationality", "age", "woundType1", "woundType2")
head(accidentList)
str(accidentList)

        county hospital gender nationality age woundType1 woundType2
H326339 台北市 聯醫仁愛     男      本國籍  NA   檢傷三級       中傷
H326349 台北市 聯醫仁愛     男      本國籍  26   檢傷三級       中傷
H326356 台北市 聯醫仁愛     男      本國籍  NA   檢傷三級       輕傷
H326368 台北市 聯醫仁愛     男      本國籍  NA   檢傷三級       輕傷
H326376 台北市 聯醫仁愛     女      本國籍  18   檢傷二級       重傷
H326390 台北市 聯醫仁愛     男      本國籍  25   檢傷二級       中傷

'data.frame':	515 obs. of  7 variables:
 $ county     : chr  "台北市" "台北市" "台北市" "台北市" ...
 $ hospital   : chr  "聯醫仁愛" "聯醫仁愛" "聯醫仁愛" "聯醫仁愛" ...
 $ gender     : chr  "男" "男" "男" "男" ...
 $ nationality: chr  "本國籍" "本國籍" "本國籍" "本國籍" ...
 $ age        : int  NA 26 NA NA 18 25 NA 22 30 24 ...
 $ woundType1 : Factor w/ 5 levels "","檢傷一級",..: 4 4 4 4 3 3 3 4 3 3 ...
 $ woundType2 : Factor w/ 4 levels "","中傷","重傷",..: 2 2 4 4 3 2 2 4 3 3 ...

# 奇摩股市範例

In [29]:
yahooStockRankParser <- function(n){
  library(magrittr)
  library(rvest)
  # 資料僅有股價排名前100的個股
  if (!n %in% 1:100){
    print("Parameter n should be a integer between 1 and 100")
  }else{
    URL <- "https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=tse&n=100" #網頁
    xpathRank <- "//table[2]/tbody/tr/td[1]"#排名的xpath
    xpathStock <- "//tbody/tr/td[@class='name']"#股票名稱的xpath
    xpathPrice <- "//table[2]/tbody/tr/td[3]"#股價的xpath
    doc <- read_html(URL, encoding="cp950")#將網頁讀進R
    # 用相同的方式擷取出需要的資訊
    rank <- doc %>% 
      html_nodes(.,xpath = xpathRank) %>%
      html_text
    stock <- doc %>% 
      html_nodes(.,xpath = xpathStock) %>%
      html_text %>%
      iconv(from = "UTF-8", to = "UTF-8")
    price <- doc %>% 
      html_nodes(.,xpath = xpathPrice) %>%
      html_text
    stockTmp <- data.frame(rank=as.integer(rank), stock=stock, price=as.numeric(price))
    stockDF <- head(stockTmp, n)
    assign('stockDF',stockDF,envir=.GlobalEnv)
  }
}
yahooStockRankParser(n = 101)#回傳訊息
yahooStockRankParser(n = 30)
stockDF

Loading required package: xml2

[1] "Parameter n should be a integer between 1 and 100"

   rank       stock  price
1     1 3008 大立光 2645.0
2     2   6409 旭隼  448.0
3     3   6414 樺漢  414.0
4     4 6415 F-矽力  383.5
5     5   2231 為升  354.0
6     6   2059 川湖  343.0
7     7 6452 F-康友  342.5
8     8 2723 F-美食  299.0
9     9   1476 儒鴻  295.0
10   10 2207 和泰車  291.5
11   11   8464 億豐  288.0
12   12   2357 華碩  253.0
13   13 2912 統一超  238.0
14   14 8454 富邦媒  232.0
15   15   2474 可成  231.0
16   16   2395 研華  225.0
17   17 1590 F-亞德  223.5
18   18 1589 F-永冠  204.5
19   19 2454 聯發科  202.0
20   20 2227 裕日車  202.0
21   21 1707 葡萄王  199.5
22   22   2228 劍麟  199.0
23   23   2707 晶華  191.0
24   24 3665 F-貿聯  181.0
25   25   9921 巨大  179.0
26   26 8422 可寧衛  175.0
27   27 4137 F-麗豐  171.5
28   28 2239 F-英利  160.0
29   29 8114 振樺電  160.0
30   30   1477 聚陽  158.0

# 7-Eleven門市資訊範例

In [30]:
library(httr)
library(XML)
library(stringr)

get_stores <- function(city, town) {
    pcsc <- POST("http://emap.pcsc.com.tw/EMapSDK.aspx", body = list(commandid = "SearchStore", city = city, town = town))
    stores <- xmlParse(content(pcsc, as = "text")) %>% 
              .["//GeoPosition"] %>% 
              xmlToDataFrame
    return(stores)
}
storeDaan <- get_stores("台北市", "大安區")
show(storeDaan)

Attaching package: 'XML'

The following object is masked from 'package:rvest':

    xml

                  POIID  POIName                X                Y
1  153319                   大台  121532614.37826 25017959.8345753
2  128416                   大安 121546223.388913 25041946.9181243
3  921633                   大信        121534563         25033718
4  135791                   大敦 121549556.390975 25031191.8805121
5  140612                   中廣        121534331         25038516
6  975962                   仁安        121545243         25038646
7  977359                   仕吉        121553109         25043523
8  946883                 北科大        121533931         25042410
9  967374                 台科三        121540380         25012497
10 945721                   永康        121529595         25030427
11 975973                   禾光        121538616         25025650
12 901293                   立仁        121551574         25030018
13 957285                   吉忠        121554192         25042522
14 164799                   合旺        121545411         25028362
15 111441                   合維 121547625.389473 25028195.8700811
16 127631                   安居        121554426         25020451
17 110334                   安信        121546420         25033132
18 970428                   佑安        121539647         25042414
19 128058                   技安        121550839         25024519
20 894359                   辛亥        121537167         25023057
21 855572                   和安        121554624         25022220
22 906117                   和金        121525706         25026918
23 944795                   和泰        121531704         25026457
24 148834                   延吉        121555705         25036636
25 115959                   昇隆        121548273         25021004
26 985246                 欣安和 121551057.392316 25038687.9066647
27 177175                 欣隆昌 121556496.395919 25028386.8706027
28 146241                   芙蓉 121538598.383252 25038097.9048053
29 962601                   花市        121537272         25036371
30 127837                   金信 121526940.374646 25033281.8881702
31 135632                   金華        121528431         25029814
32 972594                   長星        121545340         25017810
33 959155                   信中        121538664         25033650
34 135492                   信安        121545890         25034291
35 158509                   信義        121554413         25034224
36 961217                   信興        121544676         25033141
37 127620                   建安        121550671         25042638
38 975869                   建忠        121541434         25041794
39 895020                   建南        121538400         25028706
40 135609                   建綸 121551922.392981 25039776.9104535
41 928977                   恆安        121529911         25033133
42 976895                 科技站        121543666         25026283
43 882482                   科建        121536228         25044269
44 865362                   師大        121528471         25023193
45 158956                   泰利        121554234         25036558
46 113229                   國青 121544607.387029 25020501.8432615
47 121770                   國館 121556366.396237 25040571.9131566
48 946919                   崇光        121544540         25042696
49 970288               教育大學        121546479         25023345
50 113676                   統家 121553361.394032 25039938.9109956
51 121161                   統領 121552245.393299 25042254.9191018
52 975630                   通化        121554216         25031426
53 143253                   頂好 121547229.389521 25038255.9052184
54 956248                   頂東        121546255         25043521
55 159362                   鹿鳴        121533697         25016984
56 162760                   喜悅        121543243         25030944
57 144290                   富陽 121556246.395477 25020682.8437036
58 170392                   復昌        121557335         25032264
59 136705                   復維        121543897         25032399
60 114668                   敦禾 121549574.390796  25025447.860453
61 916712                   敦安        121552397         25034700
62 147141                   敦信 121550178.391539 25034565.8922844
63 975087                   敦南        121547216         25040605
64 883304                   敦頂        121548128         25042130
65 120711                   敦隆 121548327.390832 25023666.8543539
66 110242                   敦維 121546674.389051 25036237.8981803
67 978271                   敦親        121540983         25022127
68 149125                   華電        121553541         25027566
69 122289                 新東帝        121549789         25028692
70 137029                 新泰順        121531544         25025102
71 962184                 新國聯        121556961         25042381
72 121356                   溫州 121529996.376413 25019418.8397112
73 875130                   溫東        121533606         25026015
74 977441                   瑞升        121522046         25028588
75 936336                   瑞安        121541056         25028544
76 963305                   義村        121538224         25041525
77 996154                   鳳翔        121552885         25038084
78 965079                   樂安        121550849         25021970
79 141981                   樂利 121551834.392447  25025776.861565
80 126214                   樂和        121551507         25027420
81 121275                   樂隆 121549609.390729 25022687.8508142
82 129350                   黎元        121550932         25018066
83 863698                   豫銘        121545866         25030789
84 140689                   錢忠        121544478         25041136
85 929110                   靜安        121557558         25040194
86 915568                   龍延        121529356         25023917
87 125602                   龍門        121535922         25025750
88 959111                   龍淵        121542910         25023523
89 957241                   龍普        121550740         25040430
90 146931                   濟南 121533873.379892 25040157.9120739
91 151911                   臨江        121552532         25030523
92 959122                   豐安        121544267         25036114
93 810926                   懷生        121541391         25041067
94 121600                   麟光        121556997         25018364
95 144005                   鑫泰 121531154.377344 25022309.8497889
96 155083                   鑫復 121542313.385788 25033280.8879243
                  Telno                FaxNo
1  (02)23636229         (02)23660784
2  (02)87728951         (02)87720152
3  (02)27096471         (02)27096492
4  (02)27045633         (02)27046592
5  (02)27526751         (02)27118190
6  (02)87732749
7  (02)87730907         (02)87733273
8  (02)87733142         (02)87730445
9  (02)27366134         (02)27382947
10 (02)23216948         (02)23944870
11 (02)27027770         (02)27051895
12 (02)27066660         (02)27066194
13 (02)87725413
14 (02)27026159         (02)27025391
15 (02)27077030         (02)27075996
16 (02)27332560         (02)27334831
17 (02)27050827         (02)27051323
18 (02)27752136         (02)27754434
19 (02)27375613         (02)23775513
20 (02)23630291
21 (02)27355311
22 (02)23414965         (02)23944778
23 (02)23915933         (02)23916551
24 (02)27087348         (02)27025370
25 (02)27328454         (02)27326515
26 (02)87730039         (02)87733210
27 (02)23782716         (02)23783379
28 (02)27007482         (02)27547032
29 (02)27552540         (02)27556351
30 (02)23215183         (02)23217497
31 (02)23945455         (02)23918034
32 (02)27395493         (02)27397197
33 (02)27033810         (02)27034020
34 (02)27048829         (02)27048946
35 (02)27005388         (02)27554288
36 (02)27018486         (02)27018205
37 (02)87730985
38 (02)27416501
39 (02)27549832         (02)27069830
40 (02)87717103         (02)87716484
41 (02)23576939         (02)23576631
42 (02)27059323         (02)27024882
43 (02)87721391
44 (02)23693200
45 (02)27058645
46 (02)23677680         (02)23650852
47 (02)27761700         (02)27760350
48 (02)27218292
49 (02)27359529         (02)27359720
50 (02)27212029         (02)27738309
51 (02)27319841         (02)27738656
52 (02)27083071         (02)27554416
53 (02)87714781         (02)87717580
54 (02)27521297
55 (02)23670865         (02)23679335
56 (02)27067601         (02)27069749
57 (02)27373519         (02)27373281
58 (02)27076154         (02)27074379
59 (02)27070732         (02)27073742
60 (02)27322654         (02)27324980
61 (02)27081857         (02)27099767
62 (02)27556047         (02)27025427
63 (02)27728928
64 (02)87716011
65 (02)27329700         (02)27393022
66 (02)23255362         (02)23258363
67 (02)27366095
68 (02)27329694         (02)27338944
69 (02)27540987         (02)27059305
70 (02)23643011
71 (02)27752026         (02)27752021
72 (02)23626249         (02)23629445
73 (02)23623019
74 (02)23435837         (02)23969839
75 (02)27021483         (02)27069829
76 (02)27312912         (02)27315704
77 (02)87710411
78 (02)87325204         (02)87321014
79 (02)27332646         (02)23775703
80 (02)87323391         (02)87323390
81 (02)87321701         (02)87328330
82 (02)23778253
83 (02)27540615         (02)27540614
84 (02)27526260
85 (02)27739618
86 (02)23648913
87 (02)23625327
88 (02)27336247
89 (02)27751069
90 (02)27409693         (02)27514338
91 (02)27844961         (02)27084409
92 (02)27542996         (02)27543034
93 (02)27811473         (02)27118760
94 (02)27339761         (02)27388199
95 (02)23623520         (02)23623507
96 (02)27085803         (02)27088347
                                          Address isDining isParking isLavatory
1         台北市大安區羅斯福路3段283巷14弄16號1樓        Y         N          N
2       台北市大安區大安路1段77號B1樓(東區地下街)        N         N          N
3                      台北市大安區信義路三段33號        Y         N          Y
4              台北市大安區敦化南路二段63巷7號1樓        Y         N          Y
5                台北市大安區仁愛路三段25-1號27號        Y         N          N
6                   台北市大安區仁愛路四段27巷1號        Y         N          Y
7                台北市大安區忠孝東路4段223巷42號        N         N          Y
8  台北市大安區忠孝東路3段1號(台北科技大學大川堂)        Y         N          N
9              台北市大安區基隆路四段43號第三餐廳        Y         N          N
10                         台北市大安區永康街43號        N         N          N
11                 台北市大安區和平東路2段63號1樓        N         N          N
12                  台北市大安區安和路二段74巷1號        N         N          N
13                         台北市大安區延吉街72號        Y         N          Y
14               台北市大安區復興南路2段151巷41號        Y         N          Y
15                  台北市大安區四維路170巷8號1樓        Y         N          Y
16                         台北市大安區安居街33號        Y         N          Y
17                  台北市大安區信義路四段74號1樓        Y         N          Y
18            台北市大安區忠孝東路三段217巷1弄2號        Y         N          Y
19                    台北市大安區和平東路3段97號        Y         N          Y
20                      台北市大安區辛亥路2段57號        Y         N          N
21                  台北市大安區和平東路三段230號        Y         N          Y
22                    台北市大安區和平東路1段91號        N         N          N
23                  台北市大安區和平東路一段169號        N         N          N
24                        台北市大安區延吉街237號        Y         N          N
25                   台北市大安區敦化南路2段238號        N         N          Y
26                     台北市大安區安和路一段47號        N         N          N
27        台北市大安區基隆路2段142之1號及142之2號        Y         N          N
28                  台北市大安區仁愛路三段74號1樓        Y         N          Y
29                  台北市大安區建國南路一段274號        N         N          N
30                 台北市大安區金山南路2段18號1樓        Y         N          Y
31                     台北市大安區金華街140之1號        N         N          N
32                      台北市大安區基隆路3段85號        Y         N          N
33                    台北市大安區信義路三段101號        Y         N          N
34                    台北市大安區大安路一段218號        Y         N          N
35              台北市大安區信義路4段265巷12弄1號        Y         N          N
36                     台北市大安區信義路四段32號        N         N          N
37              台北市大安區敦化南路一段187巷29號        Y         N          N
38                  台北市大安區忠孝東路三段249號        Y         N          Y
39            台北市大安區建國南路二段151巷6之8號        Y         N          Y
40                 台北市大安區仁愛路4段151巷27號        N         N          N
41                        台北市大安區永康街7-1號        N         N          N
42                   台北市大安區復興南路2段203號        N         N          Y
43               台北市大安區建國南路一段28號30號        Y         N          N
44                         台北市大安區師大路87號        Y         N          N
45            台北市大安區仁愛路四段266巷15弄22號        Y         N          Y
46        台北市大安區辛亥路3段30號(台大國青宿舍)        Y         N          N
47                  台北市大安區光復南路240巷25號        Y         N          Y
48               台北市大安區復興南路一段135巷5號        Y         N          N
49                         台北市大安區敦南街38號        N         N          N
50         台北市大安區忠孝東路4段216巷27弄1號1樓        Y         N          Y
51         台北市大安區忠孝東路四段205巷7弄5號1樓        Y         Y          N
52                      台北市大安區通化街26之8號        Y         N          N
53                   台北市大安區仁愛路4段79號1號        N         N          N
54                     台北市大安區大安路一段43號        Y         N          N
55                     台北市大安區羅斯福路4段1號        N         N          N
56            台北市大安區復興南路2段82-1及82-2號        Y         N          Y
57           台北市大安區和平東路3段298號300號1樓        Y         N          N
58                台北市大安區通化里光復南路616號        Y         N          N
59                   台北市大安區復興南路二段17號        N         N          N
60            台北市大安區敦化南路二段265巷6號1樓        Y         N          Y
61                     台北市大安區安和路一段86號        Y         N          N
62              台北市大安區仁愛路4段122巷50號1樓        Y         N          Y
63              台北市大安區敦化南路一段236巷13號        Y         N          N
64                台北市大安區忠孝東路4段101巷7號        N         N          N
65                   台北市大安區敦化南路2段182號        Y         N          N
66                  台北市大安區東豐街43號45號1樓        Y         N          Y
67                 台北市大安區辛亥路二段171巷8號        Y         N          Y
68                        台北市大安區通化街177號        Y         N          Y
69                台北市大安區敦化南路二段97號1樓        Y         N          N
70                         台北市大安區泰順街13號        N         N          N
71                  台北市大安區光復南路180巷12號        Y         N          Y
72                   台北市大安區羅斯福路3段245號        Y         N          Y
73                  台北市大安區和平東路一段266號        Y         N          N
74                   台北市大安區杭州南路二段91號        N         N          N
75                        台北市大安區瑞安街182號        Y         N          N
76                  台北市大安區忠孝東路三段160號        N         N          N
77               台北市大安區忠孝東路4段216巷68號        Y         N          Y
78                     台北市大安區樂業街71號73號        Y         N          N
79                  台北市大安區樂利路76號78號1樓        Y         N          Y
80                   台北市大安區樂利路29號29-1號        Y         N          N
81              台北市大安區敦化南路二段331巷14號        Y         N          N
82                     台北市大安區臥龍街188巷1號        Y         N          Y
83                     台北市大安區大安路2段102號        Y         N          Y
84                台北市大安區忠孝東路四段26巷5號        N         N          N
85                      台北市大安區光復南路262號        Y         N          N
86                     台北市大安區師大路59巷13號        N         N          N
87                    台北市大安區和平東路2段18號        N         N          N
88              台北市大安區和平東路二段118巷33號        N         N          N
89              台北市大安區敦化南路一段233巷25號        Y         N          N
90                  台北市大安區濟南路三段12號1樓        Y         N          Y
91                     台北市大安區安和路二段67號        Y         N          N
92                          台北市大安區東豐街9號        N         N          N
93                台北市大安區忠孝東路3段248巷9號        N         N          N
94               台北市大安區臥龍街252號及252-1號        Y         N          Y
95                台北市大安區古風里泰順街64號1樓        Y         N          Y
96                 台北市大安區信義路三段178號1樓        N         N          N
   isATM is7WiFi isIce isHotDog isHealthStations isIceCream isOpenStore isFruit
1      Y       Y     N        N                N          N           N       N
2      N       Y     N        N                N          N           N       N
3      Y       Y     N        Y                N          N           N       N
4      Y       Y     N        N                N          N           N       N
5      Y       Y     N        N                N          N           N       Y
6      Y       Y     N        Y                N          N           N       Y
7      Y       Y     N        Y                N          N           N       N
8      Y       Y     N        Y                N          N           N       N
9      Y       Y     Y        Y                N          N           N       N
10     Y       Y     Y        N                N          N           N       Y
11     Y       Y     N        N                N          N           N       N
12     Y       Y     N        N                N          N           N       N
13     Y       Y     N        Y                N          N           N       N
14     Y       Y     N        N                N          N           N       N
15     Y       Y     N        N                N          N           N       Y
16     Y       Y     N        N                N          Y           N       N
17     Y       Y     Y        Y                N          Y           N       Y
18     Y       Y     N        N                Y          N           N       Y
19     Y       Y     N        N                N          N           N       Y
20     Y       Y     N        N                N          N           N       Y
21     Y       Y     N        N                N          Y           N       Y
22     Y       Y     N        N                N          N           N       Y
23     Y       Y     N        N                N          N           N       Y
24     Y       Y     N        N                N          N           N       N
25     Y       Y     N        N                N          N           N       N
26     Y       Y     N        N                N          N           N       N
27     Y       Y     N        N                N          N           N       Y
28     Y       Y     N        Y                N          N           N       N
29     Y       Y     N        N                N          N           N       N
30     Y       Y     N        N                N          Y           N       N
31     Y       Y     N        N                N          N           N       Y
32     Y       Y     N        Y                N          Y           N       N
33     Y       Y     N        Y                N          Y           N       N
34     Y       Y     N        N                N          N           N       N
35     Y       Y     N        N                N          N           N       Y
36     Y       Y     N        N                N          N           N       N
37     Y       Y     N        N                N          Y           N       Y
38     Y       Y     N        Y                N          N           N       N
39     Y       Y     N        N                N          N           N       N
40     Y       Y     N        N                N          N           N       Y
41     Y       Y     N        N                N          Y           N       N
42     Y       Y     N        N                N          N           N       N
43     Y       Y     N        N                N          Y           N       N
44     Y       Y     N        N                N          Y           N       N
45     Y       Y     N        N                N          Y           N       N
46     Y       Y     N        N                N          N           N       N
47     Y       Y     N        N                N          N           N       Y
48     Y       Y     N        Y                N          Y           N       N
49     Y       Y     N        Y                N          N           N       N